extends layout

block content
  h1  Give feedback
  unless errors
    p gifs
  hr
  form(id='feedback', method='POST', validate)
    .form-group
      label(for='display') Name&nbsp;
      if errors && errors.username
        span(class='msg')= errors.username.msg
      input(type='text', name='username', class='form-control',
      id='username', placeholder='Enter your name', value="#{values.username}",
      required, data-required-msg='Name is required')
    .form-group
      label(for='email') Email&nbsp;
      if errors && errors.email
        span(class='msg')= errors.email.msg
      input(type='email', name='email', class='form-control',
      id='email', placeholder='Enter email', value="#{values.email}",
      required data-required-msg='Email address is required')
    .form-group
      label(for='display') Message&nbsp;
      if errors && errors.message
        span(class='msg')= errors.message.msg
      input(type='textarea', name='message', class='form-control',
      id='message', placeholder='Enter your message', value="#{values.message}",
      required, data-required-msg='Message is required')
    .form-group
      input(type='submit', name='Send', value='Send' class='btn btn-default')

  script(src='//code.jquery.com/jquery-1.9.1.min.js')
  script(src='//cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js')


  script
    var validator = $("#feedback").kendoValidator();
